.submit-info {
    display: flex;
    column-gap: calc(var(--navigation-margin) * 2);
    margin: var(--margin) 0;
}

.choose-file {
    width: 100%;
}

@media only screen and (max-width:400px) {
    .submit-info {
        flex-direction: column;
        row-gap: var(--content-margin);
    }
}